body {
    height: 100vh;
    margin: 0;
    color: black;
    font-size: 14px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a { 
    text-decoration: none;
    color: black;
}

input {
    width: 500px;
    margin: 24px 8px;
    border: solid gray 1px;
    border-radius: 10px;
    padding: 8px 20px;
    
}

ul {
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
    gap:20px;
}

.maincontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.footer {
background-color: #eee
}
